.main-container {
  display: flex;
  flex-direction: column;
}

.heading-container {
  background-color: #4056a1;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  color: #eeeeee;
  margin: 0;
}

.graph-row {
  display: flex;
  flex-direction: row;
  height: 47vh;
}

.graph-container {
  border: 1px solid lightgray;
  margin: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.map-container {
  width: 35%;
}

.bargraph-container {
  width: 35%;
}

.linegraph-container {
  width: 30%;
}

.scatterplot-container {
  width: 35%;
}

.parallelplot-container {
  width: 65%;
}

.graphs-content-container {
  background-color: #eeeeee;
}

.linegraph-container1,
.parallelplot-container1,
.bargraph-container1,
.scatterplot-container1,
.map-container1 {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph-heading {
  height: 10%;
  width: 100%;
  margin: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #eee;
  background-color: #4056a1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-animation {
  width: 50%;
  height: 50%;
}
.loading-animation-pcp {
  width: 25%;
  height: 50%;
}
