.main-container {
  display: flex;
  flex-direction: column;
}

.heading-container {
  background-color: #4056a1;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  color: lightgray;
  margin: 0;
}

.graph-row {
  display: flex;
  flex-direction: row;
  /* border: 1px solid lightgray; */
  /* height: calc(47vh - 40px); */
  /* height: calc(47vh - 20px); */
  height: 47vh;
}

.graph-container {
  border: 1px solid lightgray;
  margin: 10px;
  border-radius: 10px;
  background-color: white;
}

.map-container {
  width: 35%;
}

.bargraph-container {
  width: 35%;
}

.linegraph-container {
  width: 30%;
}

.scatterplot-container {
  width: 35%;
}

.parallelplot-container {
  width: 65%;
}

.graphs-content-container {
  background-color: #eeeeee;
}
