.background path {
  fill: none;
  stroke: gray;
  shape-rendering: crispEdges;
  opacity:0.05
}

.foreground path {
  fill: none;
}
.blah path {
  visibility: visible;
}

text {
  /* color: black; */
  cursor: move;
}

.blah text {
  fill: white;
}
.brush .selection {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}